ul{
	list-style-type: none;
	margin: 0 auto;
	padding: 18px;
}

nav{
	position: fixed;
	width: 150px;
	height: 100%;
	background-color: lightgray;
	text-align: center;
	z-index: 10;
}

.fancy{
	font-size: 50pt;
	position: relative;
	margin: 0 auto;
	padding: 10px 45px;
	border: 2pt solid black;
}


img{
	position: relative;
	width: 100%;
	padding-left: 150px;
	top: 0px;
}

.fancyHeading{
	font-family: Garamond;
	position: relative;
	margin: 0 auto;
	width: 100%;
	height: 35px;
	text-align: center;
	background-color: lightgray;
	padding-top: 2px;
}