h1{
    text-transform: uppercase;
    color: navy;
    text-align: center;
}

h3{
    text-align: center;
    color: navy;
    background-color: dodgerblue;
    text-transform: uppercase;
    width: 30%;
    margin: 0 auto;
}

p{
    text-align: center;
    width: 60%;
    padding: 10px;
    margin: 0 auto
}

ul{
    list-style-type: none;
    font-family:monospace;
    text-align: center;
    margin: 0;
    display: block;
    padding: 0;
}

li{
    text-transform: uppercase;
    margin: 0;
    display: block;
}

td{
    width: 30%;
    margin: 1.66%;
    padding: 0;
    overflow: hidden;
}

img{
    float: left;
    width: 100%;
    overflow: hidden;
}

#welcome{
    position: fixed;
    background-color: dodgerblue;   
    z-index: 10;
    width: 100%;
    height: 125px;
    top: 0;   
}


#content{
    position: relative;
    top: 132px;
    height: 80%%
    width: 80%
}



