*{
	font-family: Garamond;
	text-transform: uppercase;

}

img{
	width: 100%; 
}

h1{
	margin: 0%;
	width: 350px;
	margin-bottom: 0;
}

.return{
	font-family: Garamond;
	font-size: 14pt;
	margin-left: 70px;
	width: 350px;
	text-transform: uppercase;
}

div{
	overflow: hidden;
	
}


}

.help{
	margin-top: -150px;
}

.special{
	width: 1000px;
	margin: auto;
	height: auto;
}

.row{
	padding: 20px;
}

#roww{
	max-height: 200px;
}