*{
	font-family: Garamond;
	text-transform: uppercase;

}

img{
	width: 100%;
	position: relative; 
}

h1{
	margin: 0%;
	width: 350px;
	margin-bottom: 0;
}

.return{
	font-family: Garamond;
	font-size: 14pt;
	margin-left: 70px;
	width: 350px;
	text-transform: uppercase;
}

div{
	overflow: hidden;
}



.help{
	margin-top: -155px;
}

.row{
	padding-bottom: 20px;
}

.pic{
	width: 300px;
	min-height: : 200px;
	max-height: 200px;
	margin: 10px 0;
}

nav > div{
	overflow: visible;
}