img{
	width: 100%; 
}

h1{
	font-family: Garamond;
	margin: 1.66%;
	width: 350px;
	text-transform: uppercase;
}

div{
	overflow: hidden;
	height: 200px;
	width: 30%;
	margin: 1.45%;
	display: inline-block;
	
}

body{
	width: 80%;
	margin: 0 auto;
}